@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
  
}

body,
#root {
  height: 100vh;
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body,
input,
select,
button,
textarea {

  font-family: 'EB Garamond', serif;
  font-size: 1.6rem;
}
.link {
  color :#fefae0;
  text-decoration: none;
}

.link:hover{
  color:#ac7d48;
  text-decoration: underline;
}
.list{
list-style: none;
}
/* products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product img {
  max-width: 30rem;
  max-height: 30rem;
}

.product button{

  font-size: 1.5rem;
}
.product button:hover{
  color:#c89254;
}

/* cart items */

.btn-silk1{
  color: #fefae0;
  font-size: 15px;
}
.btn-silk:hover{
  color:#c89254
}

.cart-items img {
  width: 5rem;
}

.btn-kombu{
  background-color: #283618;
  color: #fefae0;
}
.btn-silk{
  background-color: #fefae0;
  color: #283618;
}

.bg-black{
  background-color: #000000;
}
.bg-olive{
  background-color: #606c38;
}
.bg-kombu{
  background-color: #283618;
}
.bg-silk{
  background-color: #fefae0;
}


.bg-fawn{
  background-color: #c89254;
}
.bg-liver{
  background-color: #bc6c25;
}
.text-black{
  color: #000000;
}
.text-olive{
  color:#606c38 ;
}
.text-kombu{
  color: #283618;
}
.text-silk{
  color: #fefae0;
}
.text-liver{
  color:#bc6c25
}


.bg-image{
  background-image: url("https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



/* homepage */
.bg-black{
  background-color: #000000;
}
.bg-olive{
  background-color: #606c38;
}
.bg-kombu{
  background-color: #283618;
}
.bg-silk{
  background-color: #fefae0;
}
.bg-fawn{
  background-color: #c89254;
}
.bg-liver{
  background-color: #bc6c25;
}
.text-olive{
  color:#606c38 ;
}
.text-kombu{
  color: #283618;
}
.text-silk{
  color: #fefae0;
}
.ps-fawn{
  background-color: #ac7d48  ;
}
.ps-silk{
  background-color: #fefae0  ;
  margin: 0px;
}
.ps-kombu{
  background-color: #283618  ;
  margin: 0px;
}
.parallax{
  background-image: url(https://scontent.fatl1-2.fna.fbcdn.net/v/t39.30808-6/262007596_5457259577623326_8807210501981659273_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=a26aad&_nc_ohc=5XNKfB4fu2kAX-gb388&tn=fyf8UbbPc6ZJrZwe&_nc_ht=scontent.fatl1-2.fna&oh=11da22dcc0a31af439da0172a92053ed&oe=61B93FAE);
  height: 600px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.parallax2{
  background-image:url(https://scontent.fatl1-2.fna.fbcdn.net/v/t1.6435-9/122263202_4189903297692300_8948267043194979432_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=a26aad&_nc_ohc=LmvA0Cg6gugAX-hKU-J&_nc_ht=scontent.fatl1-2.fna&oh=00_AT-BG-7pwXWr21ycGEwKwim1O5G-vKN1PQ-5YCV7ZVfGQA&oe=61D91ADD);
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.parallax3{
  background-image:url(https://scontent.fatl1-1.fna.fbcdn.net/v/t1.6435-9/95586957_3668377573178211_3898763026869780480_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=9267fe&_nc_ohc=CskEz1sfdp8AX9UZLMr&_nc_ht=scontent.fatl1-1.fna&oh=29acccd872244bfb43226aac31ce58c5&oe=61D775F5);
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.indent{
  text-indent: 30%;
}

.FormControl.Mui-focused{
color: #283618;
}
.FormControl.Mui-active{
color: #283618;
}





